/* --- navbar --- */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  background: var(--white);
  z-index: 10;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* -- top-navbar -- */
.top-navbar {
  background: var(--blue);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 64px;
  font-size: .9em;
}
.top-navbar a{
  color: var(--white);
  text-decoration: none;
}
.top-navbar div:first-child {
  display: flex;
  gap: 24px;
}
.top-navbar div:last-child {
  display: flex;
  gap: 24px;
}

/* -- navbar-content -- */
.navbar-content {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 24px;
  width: 100%;
}

.nav-img {
  width: 200px;
  margin-left: 20px;
}

.navbar-content .ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  width: 80%;
  margin: 0;
  padding: 0px 0px 0px 2rem;
}

.ul li a{
  color: var(--black);
  font-size: var(--sm);
  font-weight: 500;
}

/* -- sub-menu -- */
.submenu{
  position: absolute;
  top: 65%;
  left: 0;
  right: 0;

  display: none;
  grid-template-columns: 1fr 1fr auto;
  gap: 28px;
  width: 100%;
  padding: 24px 24px 12px 24px;

  background: linear-gradient(transparent 0%, transparent 0%, var(--gris) 12%, var(--gris) 100%);
  transition: 1.5s ease;
}
.navbar-content .ul li:nth-child(3):hover .submenu{
  display: grid;
  transition: display 1.5s ease;
}

.submenu .title-category {
  font-size: var(--sm);
  color: var(--blue);
  font-weight: 600;
  
  display: flex;
  align-items: center;
  gap: 6px;
}
.submenu .title-subcategory {
  font-size: .9rem;
  color: var(--red);
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 6px;

  padding-top: 12px;
  padding-left: 8px;
}
.submenu .submenu-categorias {
  background: linear-gradient(transparent 0%, transparent 0%, var(--white) 15%, var(--white) 100%);
  padding: 10px;
}
.submenu .submenu-categorias div {
  display: flex;
  justify-content: space-between;

  padding: 0;
}

.submenu .submenu-categorias .submenu-subcategoria div {
  display: block;
}

.submenu-subcategoria ul{
  padding: 10px 6px 0px 6px;
}

.submenu-subcategoria ul li {
  padding: 2px 0 2px 24px;
  position: relative;
}
.submenu-subcategoria ul li a{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  font-size: var(--ssm);
  color: var(--black);
}

.icon-diana {
  --ionicon-stroke-width: 2px;
  border: 2px solid blue;
  border-radius: 50%;

}

.submenu-subcategoria ul li a ion-icon {
  position: absolute;
  top: 25%;
  left: 0;

  width: .6rem;
  height: .6rem;
}

.submenu-subcategoria ul li a:hover {
  color: var(--red);
}
/* -- end sub-menu -- */

/* -- icon-right -- */
.icon-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;

  margin-right: 20px;
}
.icon-nav button {
  padding: 6px 8px;
  font-size: var(--sm);
  color: var(--black);
  border-radius: 5px;
  border: 1px solid transparent;
  background: transparent;
}
.icon-nav button:hover {
  border: 1px solid #c5c4c4;
}
.icon-nav .icon_truck{
  position: relative;
}
.icon-nav .icon_truck span {
  position: absolute;
  text-align: center;
  background-color: var(--gris);

  width: 20px;
  border-radius: 20px;
  top: 0;
  left: -2px;

  font-size: .9em;
  font-weight: 500;
}
.icon-nav .icon-bars a ion-icon{
  font-size: 1.2rem;
}
.icon-bars { display: none; }
/* -- search --*/
.form-search {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #d0d0d0;

  overflow: hidden;
  z-index: 10;
  transition: 0.4s;


}

.search-select{
  border: none;
  color: #000;
  border: none;
  text-align: center;
}
.search-select:focus { outline: none;}
.search-select option.option{
  cursor: pointer;
  background: white;
}

.div-search-input {
  position: relative;
  width: 100%;
}

.search-input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 3px;
  font-size: var(--sm);
  color: #000;
}

.button-search{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3%;

  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  font-size: 1.2rem;
  color:  #000;
  border: none;
  outline: none;
}

.button-search i {
  font-size: var(--sm);
  padding-right: 8px;
}

/* -- end search --*/
/* --- end navbar --- */

/* -- menu-mobile -- */
#icon-hamburguer{
	font-size: var(--md);
    cursor: pointer;
}
.mobile-navbar {
  position: relative;
  background: var(--white);
  position: absolute;
	top: 100%;
  left: -250px;
  width: 250px;
	height: 100vh;
  overflow-y: auto;
  transition: 0.4s;
	display: none;    
  box-shadow: 5px 1px 2px rgba(0, 0, 0, 0.2);
}
.mobile_navbar--header {
  padding: 12px;
  background-color: #dfdfdf;
  text-transform: uppercase;
  font-weight: 800;
  border-bottom: 1px solid #818181;
}

.mobile-navbar ul{
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
	width: 100%;
	transition: 0.3s ease all;
  padding-left: 12px;
}
.mobile-navbar ul li {
	margin-bottom: 14px;
	width: 90%;
}
.mobile-navbar ul li a{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.mobile-menu .mobile-submenu{
	max-height: 0;
	overflow: hidden;
	padding-left: 20px;
	transition: max-height 0.5s ease;
}
.mobile-menu a, .mobile-menu p { cursor: pointer; }
.mobile-navbar .mobile_navbar--container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile_menu_bottom {
  border-top: 1px solid #d0d0d0;
}
.mobile_menu_bottom li a {
  color: #000;
  font-size: .9rem;
}
.mobile_menu_bottom li form button {
  color: #b41f1f;
  font-size: .9rem;
  border: none;
  background: transparent;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

/* -- end menu-mobile -- */

.icon-user {position: relative;}
.icon-user .menu_user {
  position: absolute;
  top: 32px;
  left: -180px;

  width: 200px;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.274);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

  transition: all .8s;
}

.menu_user .menu_user--header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  padding: 6px;
}
.menu_user .menu_user--header p {
  font-size: 0.9rem;
  text-align: center;
  padding-bottom: 4px;
}

.menu_user ul li {
  width: 100%;
}
.menu_user ul li button:hover {
  border: 0px;
}
.menu_user ul li a {
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 100%;
  font-size: .875rem;
  border-radius: 0;
  border: 0px;
  color: #000;
}
.menu_user ul li a:hover{
  background: #efefef;
  border: 0px;
}

.menu_user form button {
  display: flex;
  align-items: flex-start;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 100%;
  background: transparent;
  border: none;

  font-size: .875rem;
  color: var(--black);
  cursor: pointer;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.menu_user form button:hover {
  background: #efefef;
}


/* container cart menu*/
.container_cart--menu {
  position: absolute;
  max-width: 360px;
  width: 360px;
  padding: 24px 12px;
  top: 32px;
  right: 0;
  background-color: var(--white);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.274);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.content-detail {
  max-height: 300px;
  overflow-y: scroll;
}
.container_cart--menu .title-container {
  display: flex;
  margin-bottom: 12px;
}
.container_cart--menu .title-container img {
  transform: rotate(180deg);
  margin-right: 14px;
}
.container_cart--menu .title {
  font-weight: bold;
}
.container_cart--menu .shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
  
}
.container_cart--menu .shopping-cart figure {
  margin: 0;
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.container_cart--menu .shopping-cart figure img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.container_cart--menu .shopping-cart form button {
  border: 0px !important;
  cursor: pointer;
}
.container_cart--menu .shopping-cart p:nth-child(2) {
  color: #c7c7c7;
}
.container_cart--menu .shopping-cart p:nth-child(3) {
  font-weight: bold;
}

.container_cart--menu .order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: #F7F7F7;
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 16px 24px;
}
.container_cart--menu .order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.container_cart--menu .order p .span_total:nth-child(1) {
  position: relative;
  font-size: 16px;
  font-weight: bold;
}
.container_cart--menu .order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
.primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff0033 !important;
  border-radius: 8px;
  border: none;
  color: #ffffff !important;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
}
.link_detail_cart {
  display: inline-block;
  width: 100%;
  padding: 0 4px 4px 0;
  text-align: right;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: bold;
  color: rgb(0, 136, 255);
}
@media (max-width: 640px) {
  .container_cart--menu {
    width: 300px;
  }
  .content-detail {
    max-height: 250px;
  }
  .container_message {
    max-width: 280px;
  }
}
@media screen and (max-width: 1280px) {
  .submenu-subcategoria div ul li a  {
      font-size: .8rem;
      line-height: 3vh;
  }
}

@media screen and (max-width: 1250px) {
  .nav-img {
      width: 200px;
      margin-left: 10px;
  }

  .navbar-content .ul { padding: 0; }
  .form-search { width: 300px; }
}

@media screen and (max-width: 1050px) {
  .navbar-content .ul { display: none;}
  .icon-user { display: none; }
  .icon-bars { display: block; }
}
@media screen and (max-width: 1049px) {
  .mobile-navbar { display: block; }
}

@media screen and (max-width: 750px) {
  .search-select { display: none; }
}

@media screen and (max-width: 700px) {
  .top-navbar div:first-child { display: none; }
  .top-navbar { justify-content: flex-end;}
}

@media screen and (max-width: 650px) {
  .nav-img { width: 180px; }
  .form-search { width: 200px;}
  .search-input { font-size: 1rem; padding: 10px;}
}

@media screen and (max-width: 525px) {
  .top-navbar { display: none; }
  .nav-img { width: 150px; margin: 0; }
  .navbar-content { 
    gap: 12px;
    justify-content: space-evenly !important; 
  }
  .form-search { width: 200px;}

  .navbar-content {
    gap: 0px;
    justify-content: space-between;
  }
  .icon-nav {
    gap: 12px;
  }
}

@media screen and (max-width: 420px) {
  .navbar-content { 
    padding: 8px 1px;
    gap: 0 !important;
  }
  .nav-img {
    width: 120px;
  }
  .search-input {
    font-size: .9rem;
  }
  .form-search {
    width: 150px;
    height: 34px;
  }
  .icon-nav {
    gap: 4px;
  }
}

