.inactive {
  display: none;
}

/* ---- banner-top ---- */
.banner-top {
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 250px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}
.banner-top > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.338);
  z-index: 1;
}

.banner-top h1 {
  color: var(--white);
  text-align: center;
  font-size: 24px;
  z-index: 2;
  padding: 24px;
}

/* container_carrousel */
.container_carrousel {
  margin: 40px 0;
}
/* alinear elementos y centrar*/
.align_items_carrousel {
  display: flex;
  justify-content: center;
}

/* header line with color */
.header_line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0px 0px 0px;
  padding: 12px;
  background: var(--red);

}

.header_line h1 {
  position: relative;
  /* text-transform: uppercase; */
  color: var(--white);
  font-size: 24px;
}
.header_line h1 img {
  position: absolute;
  width: 100px;
  height: auto;
  top: -50px;
}
/* modificar estilo de botones para el carrousel */

.glide__arrow--left,
.glide__arrow--right{
  font-size: 20px;
  color: black;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* contenido dentro de los div en el carrousel */
.products_carrousel--container div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.products_carrousel--container div a {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 14px;
  color: #3e3e3e;
}

/* menu entre vistas */
.menu_between_views {
  margin: 0px 0px 24px 0px;
  padding: 12px 4px 12px 24px;
  background: var(--gris);
}
.menu_between_views ul {
  display: flex;
  align-items: center;
}
.menu_between_views ul li{
  padding: 0px 4px;
}
.menu_between_views ul li a {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--blue);
}
.menu_between_views ul li a:hover {
  text-decoration: underline;
  color: var(--red);
}

.menu_between_views ul li .latest_section {
  color: var(--red);
}

/* detalle de productos */
.container_image--product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.container_image--product section:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.diana_detail--primary {
  height: 400px;
  width: 400px;
  border: 1px solid rgb(76, 157, 255);
  border-radius: 50%;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}
.diana_detail--primary img.sello_garantia {
  width: 90px;
  position: absolute;
  z-index: 5;
  bottom: 112px;
  right: 20px;
}

.diana_detail--primary .diana_detail--secondary {
  height: 350px;
  width: 350px;
  padding: 12px;
  background: var(--gris);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.diana_detail--primary .diana_detail--secondary img {
  position: absolute;
  width: 300px;
  height: 380px;
  top: 0;
}

.content_detail--product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding: 0px 12px;
}
.container_image--product header h2 {
  font-size: 1.8rem;
}
.container_image--product article p {
  font-size: 1rem;
}
.container_image--product article .description {
  margin: 24px 0px;
}
.container_image--product article .specifications {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container_image--product article .specifications span {
  font-weight: bold;
}


.container_add--truck {
  width: 100%;
}
.container_add--truck button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 4px;
}
.container_add--truck button div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.container_add--truck button div img {
  width: 30px;
}
.container_add--truck button div p {
  font-size: 0.8rem;
  color: var(--red);
  text-decoration: underline;
  font-weight: 700;
}

/* products by category*/
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 16px;

  margin: 24px 0px;
}

.product_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.product_card a {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}
.product_card a:hover {
  color: var(--red);
}

.product_card .product_img img{
  width: 200px;
  height: 230px;
}

/*centrar contenido de un elemento*/
.center_content {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*margin top pequenio*/
.margin-top-content {
  margin-top: 12px;
}

/*container_order_buy*/
.container_order_buy {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 24px;
  padding: 0px 12px;
}

/* bart_status_order */
.bart_status_order {
  width: 80%;
  padding: 2px 0px 2px 10%;
  border: 1px solid;
  border-radius: 10px;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
}

.in_process {
  background-color: orange;
}
.approved {
  background-color: green;
}
.rejected{
  background-color: #ff0033;
}
/* message */
.container_message {
  position: fixed;
  top: 100px;
  right: 20px;
  z-index: 200;
  display: flex;
  align-items: center;
  width: 340px;
  gap: 8px;
  height: 80px;
  border: 1px solid #00000038;
  border-radius: 10px;
  background-color: #ffffff;
}
.container_message .content {
  padding: 6px;
}
.container_message .content .cont_title {
  font-size: .9rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.container_message .content .message_description p {
  font-size: .8rem;
}
.border_color-success {
  border-left: 10px solid green;
}
.border_color-destroy {
  border-left: 10px solid red;
}
.border_color-update {
  border-left: 10px solid rgb(255, 94, 0);
}
.border_color-clear {
  border-left: 10px solid rgb(181, 188, 181);
}
.container_close--message {
  padding-right: 8px;
}

.container_message span {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.container_message:hover{
  background-color: #efefef;
}

.table-responsive {
  padding: 0px 12px;
}
.data_order_product {
  overflow: scroll;
}

@media screen and (max-width: 1000px)  {
  .container_order_buy {
    grid-template-columns: 1fr;
  }
  .table-responsive {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 800px)  {
  .diana_detail--primary {
    height: 350px;
    width: 350px;
  }
  .diana_detail--primary .diana_detail--secondary {
    height: 300px;
    width: 300px;
  }
  .diana_detail--primary .diana_detail--secondary img {
    width: 250px;
    height: 330px;
  }
}

@media screen and (max-width: 700px)  {
  .diana_detail--primary {
    height: 300px;
    width: 300px;
  }
  .diana_detail--primary .diana_detail--secondary {
    height: 250px;
    width: 250px;
  }
  .diana_detail--primary .diana_detail--secondary img {
    width: 214px;
    height: 282px;
  }
}

@media screen and (max-width: 600px)  {

  .container_image--product { grid-template-columns: repeat(1, 1fr) !important; }
  .diana_detail--primary {
    height: 280px;
    width: 280px;
  }
  .diana_detail--primary .diana_detail--secondary {
    height: 230px;
    width: 230px;
  }
  .diana_detail--primary .diana_detail--secondary img {
    width: 200px;
    height: 270px;
  }
}


@media screen and (max-width: 500px) {
  .banner-top { height: 200px; }
  
  .products { grid-template-columns: repeat(1, 1fr); gap: 24px; }

  .menu_between_views ul li a { font-size: .9rem; }
  .menu_between_views { padding: 12px 4px 12px 2px; }

  .diana_detail--primary img.sello_garantia {
    width: 90px;
    right: -10px;
  }
}