.container_cart_view {
  width: 100%;
}
.content_card {
  margin: 24px;
}
.container_cart_view .container_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.content_card {
  display: grid;
  grid-template-columns: auto 300px auto;
  gap: 24px;
}
.cart_content_image img {
  width: 160px;
  height: 200px;
}

.container_cart_view .cart_information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.container_cart_view .cart_information p {
  font-size: 1rem;
  margin-bottom: 4px;
}
.container_cart_view .cart_information span{
  font-weight: bold;
}

.container_cart_view .cart_actions {
  display: flex;
  align-items: center;
  gap: 12px;
}
.cart_actions {
  display: flex;
  align-items: center;
  gap: 24px;
}
.cart_actions #quantity {
  width: 50px;
  padding: 5px;
}
.cart_actions .cart_update,
.cart_actions .cart_delete,
.cart_clear {
  display: flex;
  align-items: center;
}
.cart_actions .cart_update {
  display: flex;
  gap: 12px;
}

.cart_update button .fa-pen-to-square,
.cart_delete button .fa-trash,
.cart_clear button .fa-bitbucket{
  color: #ffffff ;
  padding: 4px;
}
.cart_update button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #090ccf;
  font-size: 20px;
}
.cart_delete button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #e10b0b;
  font-size: 20px;
}
.cart_clear button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #e9e5dd;
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  .content_card {
    grid-template-columns: auto 160px auto;
  }
}

@media screen and (max-width: 800px) {
  .container_card {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .container_card .cart_content_products {
    max-height: 600px !important;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 600px) {
  .container_cart_view .cart_information p {
    font-size: .9rem;
    margin-bottom: 0px;
  }
  .cart_actions label {
    font-size: .9rem;
  }
  .cart_content_image img {
    height: 150px;
    width: 130px;
  }
  .container_card .cart_content_products {
    max-height: 500px !important;
    overflow: scroll;
  }
}
